*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.title{
    color: #272727;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    padding: 20px 130px 0px 130px;
    background: rgba(229, 84, 115, 0.10);
}
.header_desc{
    margin: 10px auto;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
} 
.header_item img{
    /* width: 500px; */
    height: 80vh;
    vertical-align: bottom;

}
.header_btn{
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    cursor: pointer;
    border: 1px solid #E55473;
}
.header_btn:hover{
    background: rgba(229, 84, 115, 0.10);
    color: #0a94ea;
}

.featured_section{
    background-color: #FFF;
    text-align: center;
    padding: 80px 130px 0px 130px;
}
.featured_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 48px 130px 0px 130px;
    gap: 10px;
}
.info{
    color: #272727;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}
.three_column{
    background: rgba(167, 33, 98, 0.15);
    padding: 110px 60px 0 70px;
    border-radius: 300px 300px 0px 0px;
    margin-bottom: 20px;
}
.three_column img{
    width: 200px;
    height: 300px;
    padding: 10px 10px 0px 10px;
    vertical-align: bottom;
    
}
.optional_sec_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 48px 130px 0px 130px;
    gap: 10px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    height: 220px;
    text-align: center;
}
.noStyle{
    text-decoration: none;
}

.hotdeal_section_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 128px;
    padding-left: 155px;
    padding-right: 155px;
    height: 628px;
    text-align: center;
}
.instagram_section{
    margin: 40px 130px 0px 130px;
    height: 628px;
    text-align: center;
    background-color:  #FFF;
}
.instagram_section_container{
    display: flex;
    gap: 10px;
    align-items: center; 
}

.instagram4_column img{
    width: 261px;
    height: 300px; 
    vertical-align: bottom;
    margin-top: 20px;
}


